.social_list_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7ab2d3;
  height: 100px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.social_list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social_list li {
  margin: 0 1em;
}

.social_list svg {
  font-size: 2em;
  cursor: pointer;
  color: white;
}
